.addRapperMain {
  min-height: 100vh;
  background-color: #050424;
  animation: fadeInDown;
  animation-duration: 1s;
  padding-top: 10%;
}

#biography {
 resize: none;
 height: 30vh;
}

.form {
  width: 50%;

}