.backgroundHome {
  background-color: #050424;
  min-height: 100vh;
  min-width: 100%;
}

.tryout {
  background-color: #050424;
  min-height: 100vh;
  min-width: 100%;
  padding: 10vh 10vw;
  animation: fadeInDown;
  animation-duration: 1s;
}

#cardBackground {
  background: #201E59;
  color: white;
  text-align: center;
}